{% extends "base.html"%}
{% load static %}

{% block page_header %}
   <div class="container header-container">
      <div class="row">
          <div class="col"></div>
      </div>
   </div>
{% endblock %}

{% block content %}
    <!-- Home page top-->
    <div class="heroimg">
        <div class="lead-message-box">                             
            <h1 class="lead-message display-4 logo-font text-white">
                Products for beauty hair
            </h1>
            <div>
                <h4>
                    <a href="" class="btn btn-lg active  btn-primary shop-button">Shop Now ></a>
                </h4>
            </div>
        </div>
    </div>

    <!-- Home page main -->
    <div class="category-box">
    <div class="category-container">
        <div class="category">
            <div class="category-shampoo"></div>
            <div class="category-description1 d-flex justify-content-center align-items-center p-3">
                <h4 class="category-name">Shampoo &amp Conditioner</h4>
            </div>
        </div>
        <div class="category">
            <div class="category-hair-health"></div>
            <div class="category-description d-flex justify-content-center align-items-center p-3">
                <h4 class="category-name">Hiair Mask &amp Oil</h4>
            </div>
        </div>
    </div>
    </div>

    <div class="category-container2">
        <div class="category-hair-products"></div>
        <div class="category-description1 d-flex justify-content-center align-items-center p-3">
            <h4 class="category-name">Electrical</h4>
        </div>
    </div>

    



    
{% endblock %}