{% extends "base.html"%}
{% load static %}

{% block page_header %}
   <div class="container">
      <div class="row">
          <div class="col"></div>
      </div>
   </div>
{% endblock %}

{% block content %}
    <!-- Home page top-->
    <div class="heroimg">
        <div class="lead-message-box">                             
            <h1 class="lead-message display-4 logo-font text-white">
                Products for beauty hair
            </h1>
            <div>
                <h4>
                    <a href="{%url 'products'%}" class="btn active  btn-primary shop-button font-weight-bold">Shop Now ></a>
                </h4>
            </div>
        </div>
    </div>

    <!-- Home page main -->
     <div class="container-fluid">
        <div class="category-box">
        <div class="category-container">
            
            <a href="{%url 'products'%}?category=shampoo,conditioner,set" class="category">
                <div class="category-shampoo"></div>
                <div class="category-description1 d-flex justify-content-center align-items-center p-3">
                    <h4 class="category-name">Shampoo &amp Conditioner</h4>
                </div>
            </a>
            
            <a href="{%url 'products'%}?category=hair_oil" class="category">
                <div class="category-hair-health"></div>
                <div class="category-description d-flex justify-content-center align-items-center p-3">
                    <h4 class="category-name">Hiair Mask &amp Oil</h4>
                </div>
            </a>
        </div>
        </div>
        <a href="{%url 'products'%}?category=hair_dryer,hair_iron" class="category-container2">
            <div class="category-hair-products"></div>
            <div class="category-description1 d-flex justify-content-center align-items-center p-3">
                <h4 class="category-name">Electrical</h4>
            </div>
        </a>
     </div>

    



    
{% endblock %}