{% extends "base.html"%}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'news/css/news.css' %}">
{% endblock %}


{% block page_header %}
   <div class="container">
      <div class="row">
          <div class="col"></div>
      </div>
   </div>
{% endblock %}

{% block content %}

  <div class="news-containre">
   
   <div class="text-center">
    <h1>News</h1>
    <p class="mt-3">Stay uptodate with our latest news and new products</p>
   </div>

   <div class="newses">
    {% for news in news %}
      <div class="border mt-5 news-box">
        <div class="m-5">
          <h3>{{news.title}}</h3>
          <hr>
          <p>{{news.body}}</p>
          <small>{{news.post_date}}</small>
          {% if request.user.is_superuser %}
          <div class="edit-delete-btns mt-3">
            <button class="btn btn-sm btn-secondary edit-btn" data-news_id="{{ news.id }}">Edit</button>
            <button class="btn btn-sm btn-danger delete-btn" data-news_id="{{ news.id }}">Delete</button>
         </div>
         {% endif %}
        </div>
      </div>
    {% endfor %}    
    
    {% if request.user.is_superuser %}
      <div class="mt-5">
        <h3 class="mb-5">Add News</h3>
        <form action="." method="POST">        
            <div>
              {% csrf_token %}
              {{ form | crispy }}
            </div>
              <button type="submit" class="btn btn-dark">Submit</button>   
        </form>
      </div>
     {% endif %}

   </div>
  </div>



    
{% endblock %}