{% extends "base.html"%}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'news/css/news.css' %}">
{% endblock %}


{% block page_header %}
   <div class="container">
      <div class="row">
          <div class="col"></div>
      </div>
   </div>
{% endblock %}

{% block content %}

  <div class="news-containre">
   
   <div class="text-center">
    <h1>News</h1>
    <p>Stay uptodate with our latest news and new products</p>
   </div>

   <div>
    
   </div>

  </div>



    
{% endblock %}