/* Shopping bag */
.shopping-bag{
    width: 100%;
    min-height: 100vh;
    margin-top: 150px;
    overflow: auto;
}

.shopping-bag-container{
    padding: 0 10%;
}

.shoppingbag-title{
    padding: 5% 0;
}

.detail-hr{
    margin: 5% 0;
}

.deliverly{
    margin: 5% 0;
}


.update-qty, .remove-pd{
    cursor: pointer;
    color: blue;
}

.checkout-container{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.checkout{
    text-decoration: none;
    color: white !important;
    font-weight: bold; 
}
.checkout-btn{
    background-color: #AD6200 !important;
    color: white;
}


.checkout-btn:hover{
    opacity: 0.7;
    text-decoration: none;
    color: white;
}

.table-pic{
    width: 100%;
}


.table-pic-w{
    width: 20%;
}

/* Recommendation */
.rec-img{
    width: 100px;
    height:auto;
}

.rec-box{
    width: 100%;
    padding: 3%; 
}

.exclusive{
    color: #AD6200;
    font-size: 0.8rem;
}

.readme-btn{
    width: 60px;
    height: 25px;
    font-size: 0.55rem;
}



/*------------------- Media query-------------------*/

@media (max-width: 740px){
  .shopping-bag{
    margin-top: 35vh;
  }

  .update-qty, .remove-pd{
    font-size: 0.8rem;
  }
}


@media (max-width: 650px) {
    .table-pic-w{
        width: 100%;
    }

    .checkout-btn{
        padding: 0 5%;
        width: 100%;
    }

    .rec-box{
        width: 100%;
        margin-left: 0;     
        padding:3%; 
        height: 40vh;
        overflow-x: auto;          
    }  

    .rec-flex{
        flex-direction: column;
    }

    .rec-pic{
        margin-bottom: 5%;
    }
}

@media (max-width: 575px) {
    .rec-img{
        float: left !important;
    }

    .rec-txt{
        text-align: left !important;
    }

    .shoppingbag-title{
        font-size: 1.5rem;
    }

     

}