{% extends "base.html"%}
{% load static %}
{% load bag_calc %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
   <div class="container">
      <div class="row">
          <div class="col">
          </div>
      </div>
   </div>
{% endblock %}

{% block content %}   
   
 
   
   <div class="container-checkout">
      <h2 class="text-center mb-5">Thank you for shopping with us !</h2>
      <p class="text-center">We will send you a confirmation email shortly.</p>

      <div class="order-number">
         <p class="font-weight-bold ordernum-p">Deliverly to: </p>
         <p class="ordernum-p">{{ order.order_number }}</p>
      </div>
      <hr>
      <div class="customer-info">
         <div class="order-number">
            <small class="mr-1 font-weight-bold">Full Name: </small>
            <small class="mr-2">{{ order.full_name }}</small>
         </div>
         <div class="order-number">
            <small class="mr-1 font-weight-bold">Address: </small>
            <small class="mr-2">{{ order.address1 }}</small>
            {% if order.address2 %}          
            <small class="mr-2">{{ order.address2 }}</small>
            {% endif %}
            <small class="mr-2">{{ order.town_city }}</small>
            <small class="mr-2">{{ order.county_region }}</small>
            <small class="mr-2">{{ order.country }}</small>
         </div>         
      </div>

      <hr>
            
       <p class="text-md-center font-weight-bold text-sm-left">Order</p> 
      <div class="order border border-secondary p-3">
         <div class="order-inner">
            {% for item in order.lineitems.all %}
               <div>
                  <p>{{ item.product.name }} x {{ item.quantity }} €{{ item.product.price }} each</p>
               </div>
            {% endfor %}
            <hr>
            <p><span class="font-weight-bold">Total: </span> €{{ order.total_cost }}</p>
            <p><span class="font-weight-bold">Deriverly: </span> €{{ order.deliverly_fee }}</p>
            <p><span class="font-weight-bold">Grand Total: </span>€{{ order.grand_total }}</p>
            <hr>
            <p class="font-weight-bold">What's Next?</p>
            <p>We'll be in touch once it's been despatched.</p>
            <p>If you have any queries or need to contact us</p>
         </div>
      </div>   
</div>
              
     
   
   
{% endblock %}
   


