{% extends "base.html"%}
{% load static %}
{% load bag_calc %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
   <div class="container">
      <div class="row">
          <div class="col">
          </div>
      </div>
   </div>
{% endblock %}

{% block content %}        

<div class="container-checkout">
   <h2 class="text-center mb-5">Checkout</h2>
<div class="row">
   <div class="col-12 col-lg-6 order-lg-last mb-5">
      {% if grand_total %}
      <p>Bag items ({{product_count}})</p>
      <div class="product-detail">
        {% for item in bag_items %}
            <div class="row">
                <div class="col-3 my-1">
                  {% if item.product.image %}
                  <a href="{%url 'detail' item.product.id%}" aria-label="Go to detail of {{item.product.name}} page">
                    <img class="img-fluid rounded  table-pic" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                  </a>
                  {% else %}
                  <a href="{%url 'detail' item.product.id%}" aria-label="Go to detail of {{item.product.name}} page">
                    <img class="img-fluid roundded  table-pic" src="/media/noimg.jpg" alt="No product image">
                  </a>
                  {% endif %} 
                </div>
                <div class="col-9">
                    <a href="{%url 'detail' item.product.id%}" class="text-decoration-none text-dark" aria-label="Go to detail of {{item.product.name}} page">
                      <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                    </a>
                    <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                </div>
            </div>
        {% endfor %}
      </div>
      <div>
        <hr>        
        {% if delivery_cost > 0 %}
          <p class="text-right text-danger">
              Free delivery: €{{ free_delivery_cost }} more!
          </p>  
          {% endif %}
          <p class="text-right mb-0">Total: €{{ total|floatformat:2 }}</p>
          <p class="text-right mb-0">Deliverly: €{{ delivery_cost|floatformat:2 }}</p>
          <p class="text-right text-bold mb-0">Grand Total: €{{grand_total}}</p>
          <div class="text-right mt-3">
            <a class="keep-shop" href="{% url 'view_bag' %}" aria-label="Go back to the shopping bag page. You can adjust shopping items"><i class="fa-solid fa-cart-shopping"></i> Adjust bag >></a>  
           </div>          
      </div>
    {% endif %}
   </div>
              <div class="col-12 col-lg-6">
               <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                   {% csrf_token %}
                   <fieldset class="rounded px-3 mb-5">
                       <legend class="fieldset-label px-2 w-auto">Details</legend>
                       {{ order_form.full_name | as_crispy_field }}
                       {{ order_form.email | as_crispy_field }}
                       {{ order_form.phone | as_crispy_field }}
                   </fieldset>
                   <fieldset class="rounded px-3 mb-5">
                       <legend class="fieldset-label px-2 w-auto">Delivery</legend>                                         
                       {{ order_form.address1 | as_crispy_field }}
                       {{ order_form.address2 | as_crispy_field }}
                       {{ order_form.town_city | as_crispy_field }}                      
                       {{ order_form.county_region | as_crispy_field }}
                       {{ order_form.eircode | as_crispy_field }}
                       {{ order_form.country | as_crispy_field }}                      
                       <div class="form-check form-check-inline float-right mr-0">
                    {% if user.is_authenticated %}
                       <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                               <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                    {% else %}
                       <p class="form-check-label">
                           <a class="account-create font-weight-bold"  href="{% url 'account_signup' %}" aria-label="Go to sign up page">Create an account</a> or 
                           <a class="account-login font-weight-bold"  href="{% url 'account_login' %}" aria-label="Go to login page">login</a> to save this information
                       </p>
                    {% endif %}
                 </div>
                   </fieldset>
                   <fieldset class="px-3">
                       <legend class="fieldset-label small text-dark px-2 w-auto">Payment</legend>
                        <!-- A Stripe card element will go here  -->
                       <div class="mb-3" id="card-element"></div>
                        <!-- Used to display form errors  -->
                       <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                       <input type="hidden" value="{{ client_secret }}" name="client_secret">
                   </fieldset>

                   <div class="submit-button text-right mt-5 mb-2">                    
      
                 <button id="submit-button" class="btn rounded-0 submit-btn" aria-label="Complete order">
                    <span class="font-weight-bold">Complete Order</span>
                    <span class="icon">
                       <i class="fas fa-lock"></i>
                    </span>
                 </button>
                 <p class="small text-danger my-0">
                    <span class="icon">
                       <i class="fas fa-exclamation-circle"></i>
                    </span>
                    <span>Your card will be charged <strong>€{{ grand_total|floatformat:2 }}</strong></span>
                 </p>
              </div>
            </form>
           </div> 
         </div>
</div>    

<div id="loading-overlay">
   <h1 class="text-light logo-font loading-spinner">
      <span class="icon">
         <i class="fas fa-3x fa-sync-alt fa-spin"></i>
      </span>
   </h1>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe.js' %}"></script>
{% endblock %}