.profile-container{
    min-height: 100vh;
    margin-top: 150px;
}

#id-default_country,
#id_default_country option:not(:first-child){
    color: black;
}

#id_default_country option:first-child{
    color: gray;
}

.order-history{
    max-height: 50%;
    overflow-y: auto;
}

/*------------------- Media query-------------------*/

@media (max-width: 740px){
.profile-container{
    margin-top: 25vh;
}
}