html{
    height: 100%;
}

.top-nav{
    background-color: #DBDBDB !important;
}

.logo{
    width: fit-content;
}

.dropdown-toggle::after {
    display:none;
}

.delivery-banner{
    background-color:black !important;
    color:#DBDBDB !important;
}

.delivery-w{
   padding: 5px 0;
}
   
.heroimg {
    background: url('/media/top-pic.jpg')no-repeat center right/cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.lead-message{
    color: #DBDBDB !important;
}

.shop-button{
    background-color:#CF7500 !important;
    border-color:#CF7500 !important;
    color: #DBDBDB !important;
    margin-top: 5%;
}

.shop-button:hover{
    background-color: #F0A500 !important;
    border-color: #F0A500 !important;
}