html{
    height: 100%;
}

/* Navigation  */

.top-nav{
    background-color: #DBDBDB !important;
}

.logo{
    width: fit-content;
}

.dropdown-toggle::after {
    display:none;
}

.delivery-banner{
    background-color:black !important;
    color:#DBDBDB !important;
}

.delivery-w{
   padding: 5px 0;
}

/* Header */

.header-container{
    margin-top: 150px;
}
   
.heroimg {
    background: url('/media/top-pic.jpg')no-repeat center left/cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.lead-message-box{
    padding: 1.2%;
    margin-right: 5%;
}

.lead-message{
    color: #DBDBDB !important;
    font-size:3rem;
    font-family: "Playfair Display", serif;
}

.shop-button{
    background-color:#CF7500 !important;
    border-color:#CF7500 !important;
    color: #DBDBDB !important;
    margin-top: 5%;
    padding: 2% 3%;
}

.shop-button:hover{
    background-color: #F0A500 !important;
    border-color: #F0A500 !important;
}

/* Main index page */

.category-container,.category-container2{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin: 5% 0;
}

.category{
    display: flex;
    flex-direction: row;
    flex: 50%;
    margin:2%;
}

.category-shampoo{
    background: url('/media/shampoo.jpg')no-repeat center center/cover;
    height: 40vh;
    width: 60%;
        
}

.category-hair-health{
    background: url('/media/hair-health.jpg')no-repeat center center/cover;
    height: 40vh; 
    width: 60%;
}

.category-description{
    background-color: #DBDBDB !important;
    height: 40vh;
    flex: 40%;
}

.category-description1{
    background-color: #DBDBDB !important;
    height: 40vh;
    width: 30%;
    flex: 40%;
}
.category-name{
    font-size: 1.2rem;
}

.category-container2{
    display: flex;
    flex-direction: row;
    flex: 50%;
    margin:2%;
}

.category-hair-products{
    background: url('/media/hair-products.jpg')no-repeat center center/cover;
    height: 40vh;
    flex: 50%;    
}


/* Footer */

footer {
	background-color:black;
	color:  #DBDBDB !important;
	width: 100%;
	padding: 2%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	bottom: 0;
    margin-top: 5%;
}

.social-media {
	width: 30%;
}

.social-media i {
	padding-right: 3%;
}


.help-center {
	background-color: black;
	color: #DBDBDB !important;
	border: none;
	list-style-type: none;
}

.help-center:hover {
	opacity: 0.7;
	color: #DBDBDB !important;
    background-color: black;    
}

.help-center:active {
	opacity: 0.7;
	color: #DBDBDB !important;
    background-color: black;
}

/* Products Page */
.products{
  min-height: 100vh;
  width: 100%;
}

.products-w{
    color:gray;
    margin: 3% 0%;
}




/*------------------- Media query-------------------*/

  /* max 998px */
@media (max-width: 998px) {
    .logo-title{
        font-size: 1.3rem;
    }


    .lead-message{
        font-size: 2rem;
        padding: 3%;
    }

    .category-container {
      flex-direction: column;
    }

    .lead-message-box{
        background-color: rgb(0, 0, 0, 0.8); 
        margin-top: 25%;
        padding: 1%;
    }

    .category{
        height: 40vh;
        width: 95%;
        flex: 100%;    
    }

    .category-hair-health{
        order: 2;
    } 

}

  /* max 790px */
  @media (max-width: 790px){
    .navbar-toggler-icon{
        font-size: 0.7rem;
    }

    .lead-message-box{
        margin-top: 50%;
        padding: 3%;
    }

    .lead-message{
        font-size: 1.5rem;
    }

    .header-container{
        margin-top: 100px;;
    }

    .delivery-w{
        font-size: 0.7rem;
    }

  }

  /* Detail page */
  .detail-page{
    width: 100%;
    min-height: 100vh;
  }

@media (max-width: 400px) {

.logo-title{
        font-size: 1.2rem;
}

.category-name{
    font-size: 1rem;
}

.lead-message{
    font-size: 1.4rem;
}

.lead-message-box{
    margin-top: 90%;
    padding: 2%;
}

.social-media{
    font-size: 0.7rem;
}

}
