Product page

.btn-img {
    position: relative;
    overflow: hidden;
    height: 5vh;
    width: 20%;
}

.btn-img input[type="file"] {
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* Comment */
.comment-box{
    max-height: 20vh;
    overflow-x: hidden;
    overflow-y: auto
}


