{% extends "base.html"%}
{% load static %}

{% block page_header %}
   <div class="container">
      <div class="row">
          <div class="col">
          </div>
      </div>
   </div>
{% endblock %}

{% block content %}
<div class="shopping-bag">
   <h2 class="text-center text-muted shoppingbag-title"> Shopping bag </h2>


<div class="row">
  <div class="col">
   {% if bag_items %}       
   <div class="table-responsive rounded">
      <table class="table table-sm">
         <thead class="text-black">
             <tr>
                 <th scope="col">Product Info</th>
                 <th scope="col"></th>
                 <th scope="col">Price</th>
                 <th scope="col">Qty</th>
                 <th scope="col">Subtotal</th>
             </tr> 
         </thead>
        
         {% for item in bag_items %}
            <tr class="table">
               <td class="py-3 table-w table-pic-w">
                  {% if item.product.image %}
                  <img class="img-fluid rounded  table-pic" src="{{ item.product.image.url }}">
                  {% else %}
                  <img class="img-fluid roundded  table-pic" src="/media/noimg.jpg" alt="{{ product.name }}">
                  {% endif %} 
               </td>
               <td class="py-3 table-w">
                  <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                  <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
               </td> 
               <td class="py-3 table-w">
                  <p class="my-0">${{ item.product.price }}</p>
               </td>
               <td class="py-3 table-w">
                  <form action="POST">
                     {% csrf_token %}
                     <div class="quantity-btns input-group quantity-box">
                        <div class="input-group-prepend">
                          <button class="btn btn-black btn-quantity decrement btn-sm" data-item_id="{{item.item.id}}" id="decrement{{item.item_id}}">
                            <span>
                              <i class="fas fa-minus"></i>
                            </span>
                          </button>
                        </div>
                        <div class="input-main">
                           <input class="form-control-sm form-control quantity_input text-center" type="number" name="quantity" value="{{item.quantity}}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ product.id }}">
                        </div>
                          <div class="input-group-append">
                            <button class="btn btn-black btn-quantity increment btn-sm"  data-item_id="{{item.item_id}}" id="increment{{item.item_id}}">
                              <span>
                                <i class="fas fa-plus"></i>
                              </span>
                            </button>
                          </div>
                     </div>
                  </form>
                  <a class="update-link text-info" href=""><small>Update</small></a>
                  <a href="remove-item text-danger" id="remove_{item.item_id}"><small>Remove</small></a>
               </td>
               <td class="py-3 table-w">
                  <p class="my-0">${{ item.product.price }}</p>
               </td>
            </tr>
         {% endfor %}
      </table>    
   </div>
</div>
</div>
    
 <hr>

      <!-- Total and deliverly -->
      <div>
        <p class="text-right">Total: ${{ total|floatformat:2 }}</p>
        <p class="text-right">Deliverly: ${{ delivery_cost|floatformat:2 }}</p>
        <p class="text-right"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></p>
        {% if delivery_cost > 0 %}
        <p class="text right text-danger">
            You could get free delivery by spending just <strong>${{ free_delivery_cost }}</strong> more!
        </p>
        {% endif %}
      </div>
      <div class="small checkout-container">
         <div>
         <a  class="keep-shop" href="{% url 'products' %}"><i class="fa-solid fa-cart-shopping"></i> Keep shopping >></a>  
        </div>
        <br>
         <div class="checkout-btn text-center">
            <a class="checkout" href="">
               <span>Secure Checkout</span>
            </a>
         </div>
      </div>
      
    </div>
   </div>   


   </div>
   {% else %}
    <p>Your bag is empty.</p>
    <a  class="keep-shop" href="{% url 'products' %}"><i class="fa-solid fa-cart-shopping"></i> Keep shopping >></a>  
   {% endif %}
</div>


    
{% endblock %}