{% extends "base.html"%}
{% load static %}

{% block page_header %}
   <div class="container">
      <div class="row">
          <div class="col">
          </div>
      </div>
   </div>
{% endblock %}

{% block content %}
<div class="shopping-bag">
   <h2 class="text-center text-muted shoppingbag-title"> Shopping bag </h2>

   {% if bag_items %}
  
      
      <table class="table table-sm bag-table">
         <thead class="text-black">
             <tr>
                 <th scope="col">Product Info</th>
                 <th scope="col"></th>
                 <th scope="col">Price</th>
                 <th scope="col">Qty</th>
                 <th scope="col">Subtotal</th>
             </tr> 
         </thead>
        
         {% for item in bag_items %}
         <tbody>
            <tr>
               <td class="p-3 w-25">
                  {% if item.product.image %}
                  <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                  {% else %}
                  <img class="img-fluid roundded" src="/media/noimg.jpg" alt="{{ product.name }}">
                  {% endif %} 
               </td>
               <td class="py-3">
                  <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                  <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
               </td>
               <td class="py-3">
                  <p class="my-0">${{ item.product.price }}</p>
               </td>
               <td class="py-3 w-25">
                  <p class="my-0">{{ item.quantity }}</p>
               </td>
               <td class="py-3">
                  <p class="my-0">${{ item.product.price }}</p>
               </td>
            </tr>
         </tbody>
         {% endfor %}
      </table>     
      <hr>

      <!-- Total and deliverly -->
      <div>
        <p class="text-right">Total: ${{ total|floatformat:2 }}</p>
        <p class="text-right">Deliverly: ${{ delivery_cost|floatformat:2 }}</p>
        <p class="text-right"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></p>
        {% if delivery_cost > 0 %}
        <p class="text right text-danger">
            You could get free delivery by spending just <strong>${{ free_delivery_cost }}</strong> more!
        </p>
        {% endif %}
      </div>
      <div class="small checkout-container">
         <div>
         <a  class="keep-shop" href="{% url 'products' %}"><i class="fa-solid fa-cart-shopping"></i> Keep shopping >></a>  
        </div>
        <br>
         <div class="checkout-btn text-center">
            <a class="checkout" href="">
               <span>Secure Checkout</span>
            </a>
         </div>
      </div>
      
    </div>
   </div>   


   </div>
   {% else %}
    <p>Your bag is empty.</p>
    <a  class="keep-shop" href="{% url 'products' %}"><i class="fa-solid fa-cart-shopping"></i> Keep shopping >></a>  
   {% endif %}
</div>


    
{% endblock %}