.container-checkout{
    width: 100%;
    min-height: 100vh;
    margin-top: 100px;
    padding: 5%;
}

.product-detail{
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto
}

.submit-btn{
    background-color: #CF7500;
    color: white;
    margin-bottom: 2%;
    padding: 1.3% 1.5%;
}


/* Stripe */

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}


/* Success page */

.ordered-info{
  width: 70%;
  border: #CF7500 0.1px;
  padding-left: 15%;
}

.ordered-details{
  display: flex;
  justify-content: center;
}

.order-number{
  display: flex;
  justify-content: center;
}

.customer-info{
    display: flex;
    justify-content: center;
}

.order{
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  width: 40%;
  margin-left: 30%;
}
.order-inner{
  justify-content: center;
}

/* Overlay spinner */

#loading-overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(191, 191, 191,.85);
  z-index: 999999;
}

.loading-spinner{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}


/*------------------- Media query-------------------*/

@media (max-width: 650px){

  .order-number{
    flex-direction: column;
    justify-content: first baseline;
  }

  .ordernum-p{
    font-size: small;
  }

  .customer-info{
    flex-direction: column;
}

.order{
  width: 100%;
  margin-left: 0;
}




}