.newsletter-container{
    min-height: 100vh;
    margin-top: 30vh;
    margin-left: 10%;
}

.email{
    width: 80%;
}

/*------------------- Media query-------------------*/


@media (max-width: 700px){

    .newsletter-container{
     margin-top: 40vh;
    }
}

