{% extends "base.html"%}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
   <div class="container">
      <div class="row">
          <div class="col">
          </div>
      </div>
   </div>
{% endblock %}

{% block content %}        

<div class="container-products">
   <h2 class="text-center mb-5">Stock Management</h2>
   <h5>Add products</h5>
    <div class="row">
    
            
    </div>    
</div>


{% endblock %}

