{% extends "base.html" %}
{% load static %}

{% block page_header %}
   <div class="container header-container">
      <div class="row">
          <div class="col"></div>
      </div>
   </div>
{% endblock %}

{% block content %}
   <div class="detail-page">
    
    <div class="detail-container">
      <div class="item-img">
        {% if product.image %}
        <a href="{%url 'detail' product.id%}">
            <img class="detail-img" src="{{ product.image.url }}" alt="{{ product.name }}">
        </a>
        {% else %}
        <a href="{%url 'detail' product.id%}">
            <img class="detail-img" src="/media/noimg.jpg" alt="{{ product.name }}">
        </a>
        {% endif %}    
      </div>
      <div class="item-detail">
        <div class="">
          <p class="font-weight-bold">{{ product.name }}</p>
          <p class="font-weight-bold">€{{ product.price }}</p>
          <small class="text-muted">Tax included. Shipping free over €50 </small>
          <hr>
          <p class="">{{ product.description }}</p>
          {% if product.rating %}
              <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
          {% else %}
              <small class="text-muted">No Rating</small>
          {% endif %}
        </div>        
      </div>
    </div>

   </div>

   
{% endblock %}